.discover-wrapper {
    display: flex;
    justify-content: center;
}

.discover-text-body {
    width: 80%;
    margin: 80px 0px 80px;
}

.discover-text {
    font-family: sans-serif;
    font-size: 38px;
    color: #000;
}